{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>New Financing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:newfinancingCalculator();">
            <div class="row">
                <div class="col-md-6">
                    <label>Property Type*</label>
                </div>
                <div class="col-md-6">
                    <div class="col-md-5">
                        <input type="radio" name="residential" value=""> Private Residential
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="residential" value="HDB"> HDB
                    </div>
                    <div class="col-md-"4>
                        <input type="radio" name="residential" value="Commerical"> Commerical
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Construction Status*</label>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <input type="radio" name="construction_status" value="completed"> Completed
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="construction_status" value="uncompleted"> Uncompleted
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Property Purchase* :</label>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <input type="radio" name="property_purchase" value="yes">Yes
                    </div>

                    <div class="col-md-6">
                        <input type="radio" name="property_purchase" value="no">No
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Fixed or Floating Rates*</label>
                </div>
                <div class="col-md-6 rates">
                    <div class="col-md-4">
                        <input type="radio" id="r1" name="rate" value="fixed_rate" required> Fixed
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r2" name="rate" value="float_rate"> Floating
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r3" name="rate" value="both"> Both
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Loan Amount*: </label>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_amount" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Loan Tenure (Years)* :</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_tenure" />
                </div>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 6 Bank Rates</h2>
            <p class="long-copy" id="pmt_rate"></p>

            <div id="root">

            </div>

        </div>
    </div>
</section>



{% endblock %}