{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>New Financing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:newfinancingCalculator();">
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Property Type*</label>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4">
                        <input type="radio" id="res1" name="residential" style="margin-right: 5" value="private_property"> Private Residence
                    </div>
                    <div class=" col-md-4">
                        <input type="radio" id="res2" name="residential" style="margin-right: 5" value="hdb"> HDB
                    </div>
                    <div class="col-xs-12 col-md-"4>
                        <input type="radio" id="res3" name="residential" style="margin-right: 5" value="commercial_property"> Commercial
                    </div>
                </div>
            </div>

            <br>

            <!-- What's this for? -->
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Construction Status*</label>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4">
                        <input type="radio" name="construction_status" style="margin-right: 5" value="completed"> Completed
                    </div>
                    <div class="col-md-4">
                        <input type="radio" name="construction_status" style="margin-right: 5" value="uncompleted"> Uncompleted
                    </div>
                </div>
            </div>

            <br>

            <!-- What's this for -->
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Property Purchase* :</label>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4">
                        <input type="radio" name="property_purchase" style="margin-right: 10" value="yes">Yes
                    </div>

                    <div class="col-md-4">
                        <input type="radio" name="property_purchase" style="margin-right: 10" value="no">No
                    </div>
                </div>
            </div>

            <br>


            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Fixed or Floating Rates*</label>
                </div>
                <div class="col-md-7 rates">
                    <div class="col-md-4">
                        <input type="radio" id="r1" name="rate" value="fixed_rate" style="margin-right: 5" required> Fixed
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r2" name="rate" value="float_rate" style="margin-right: 5"> Floating
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r3" name="rate" value="both" style="margin-right: 5"> Both
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Loan Amount*: </label>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_amount" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Loan Tenure (Years)* :</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_tenure" />
                </div>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 5 Bank Rates</h2>

            <div id="root">

            </div>

        </div>
    </div>
</section>



{% endblock %}