{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>Refinancing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:refinancingCalculator();">
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Residential Type:</label>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4">
                        <input type="radio" id="res1" name="residential" value="private_property"> Private Residence
                    </div>
                    <div class="col-md-4">
                        <input type="radio" id="res2" name="residential" value="hdb"> HDB
                    </div>
                    <div class="col-xs-12 col-md-"4>
                        <input type="radio" id="res3" name="residential" value="commercial_property"> Commerical
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Fixed or Floating Rates*</label>
                </div>
                <div class="col-md-7 rates">
                    <div class="col-md-4">
                        <input type="radio" id="r1" name="rate" value="fixed_rate" required> Fixed
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r2" name="rate" value="float_rate"> Floating
                    </div>

                    <div class="col-md-4">
                        <input type="radio" id="r3" name="rate" value="both"> Both
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Existing Loan Amount*</label>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_amount" required />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Current Interest Rates*:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="interest_rates" class="form-control" required />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <label>Loan Tenure* :</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="loan_tenure" class="form-control" required />
                </div>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 5 Bank Rates</h2>

            <div id="root">

            </div>

        </div>
    </div>
</section>

{% endblock %}