amqp==2.2.2
billiard==3.5.0.3
boto3==1.4.4
botocore==1.5.95
celery==4.1.0
Django==1.11.2
django-appconf==1.0.2
django-celery==3.1.17
django-cors-headers==2.4.0
django-filter==2.0.0
django-storages==1.6.1
djangorestframework==3.8.2
docutils==0.14
ecdsa==0.13
Fabric==1.8.3
jmespath==0.9.3
kombu==4.1.0
paramiko==1.12.4
psycopg2==2.7.5
pycrypto==2.6.1
Pygments==2.2.0
python-dateutil==2.6.1
python-decouple==3.0
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
vine==1.1.4
